@page "/Dashboard/VenueUpdate/{Id:int}"

@using Frontend.Models
@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@inject NavigationManager NavManager
@inject HttpClient Http
@attribute [Authorize(Roles = "admin")]

<h3>Venue Edit</h3>
<a href="/Dashboard/Venues">Back to Venues</a><br /><br />
<div class="row">
    <div class="col-md-6">  
        <EditForm Model="@venue" OnValidSubmit="@PutVenue">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                <label class="control-label">
                    Venu Name
                    <InputText class="form-control" @bind-Value=@venue.VenueName />
                </label>
            </div><br>

            <div class="form-group">
                <label class="control-label">
                    Address
                    <InputText class="form-control" @bind-Value=@venue.Address />
                </label>
            </div>
            <br>

            <div class="form-group">
                <label class="control-label">
                    Coordinates
                    <InputText class="form-control" @bind-Value=@venue.Coordinates />
                </label>
            </div>
            <br>
    
            <div class="form-group">
                <label class="control-label">
                    Capacity
                    <InputNumber class="form-control" @bind-Value=@venue.Capacity />
                </label>
            </div>
            <br>

            <div class="col-md-12">
                <label class="control-label">Wheelchair Access</label>&nbsp;
                <InputCheckbox @bind-Value=@venue.WheelchairAccess />
                &nbsp;&nbsp;&nbsp;&nbsp;

                <label class="control-label">Food</label>&nbsp;
                <InputCheckbox @bind-Value=@venue.Food />
                &nbsp;&nbsp;&nbsp;&nbsp;

                <label class="control-label">Drink</label>&nbsp;
                <InputCheckbox @bind-Value=@venue.Drink />
                &nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <br>

            <div class="form-group">
                <label class="control-label">
                    Venue Category
                    <InputSelect class="form-control" @bind-Value="CategoryId">
                        @foreach (var vc in VenueCategoryList)
                        {
                            <option value="@vc.Id">@vc.CategoryName</option>
                        }
                    </InputSelect>
                </label>
            </div>
            <br>

            <div class="form-group">
                <button type="submit" class="btn btn-secondary">Edit Venue</button>
            </div>
            <span>@errorMessage</span>
        </EditForm>
    </div>
</div>

@code
{
    private Venue? venue { get; set; }
    private List<VenueCategory>? VenueCategoryList { get; set; }
    private int CategoryId;

    [Parameter]
    public int Id { get; set; }
    private string? errorMessage;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            venue = await Http.GetFromJsonAsync<Venue>($"api/Venues/{Id}");
            CategoryId = venue.VenueCategory.Id;
            VenueCategoryList = await Http.GetFromJsonAsync<List<VenueCategory>>("api/VenueCategories");
        }
        catch (NullReferenceException)
        {
            throw;
        }
    }


    protected async Task PutVenue()
    {
        try
        {
            var SelectedVenueCategory = VenueCategoryList.Find(v => v.Id == CategoryId);
            venue.VenueCategory = SelectedVenueCategory;

            var response = await Http.PutAsJsonAsync($"api/Venues/{Id}", venue);
            if (!response.IsSuccessStatusCode)
            {
                errorMessage = response.ReasonPhrase;
                return;
            }
            NavManager.NavigateTo("/Dashboard/Venues");
        }
        catch (Exception e)
        {
            Console.Write(e);
        }

    }
}