@page "/Dashboard/VenueMedias"

@using Frontend.Models
@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@inject HttpClient Http
@attribute [Authorize(Roles = "admin")]

<h3>VenueMedias</h3>
<a href="/Dashboard/Index">Back to dashboard</a>
<div class="text-center">
    <a href="/Dashboard/VenueMediaAdd">Add Venue Media</a>
</div>
<br>

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Media Type</th>
                        <th scope="col">Venue Id</th>
                        <th scope="col">Venue Name</th>
                        <th scope="col">Url</th>
                        <th scope="col">Links</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var vm in VenueMediaList)
                    {
                        <tr>
                            <td>@vm.Id</td>
                            <td>@vm.Media</td>
                            <td>@vm.Venue.Id</td>
                            <td>@vm.Venue.VenueName</td>
                            <td><a href="@vm.Url" target="_blank">@vm.Url</a></td>
                            <td>
                                <a href="/Dashboard/VenueMediaUpdate/@vm.Id">Edit |</a>
                                <a href="/Dashboard/VenueMediaDelete/@vm.Id"> Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@code 
{
    private List<VenueMedia>? VenueMediaList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            VenueMediaList = await Http.GetFromJsonAsync<List<VenueMedia>>("api/VenueMedia");
        }
        catch (NullReferenceException)
        {
            throw;
        }
    }
}
